
main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.msg {
    position: absolute;
    top: 7em;
    width: 25em;
}

form[name='f-login'] {
	position: relative;
	max-width: 100%;
    width: 25em;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #f8f8f8;
    box-shadow: #000 1px 1px 4px -3px;
}
form[name='f-login']:after {
	content: "";
    position: absolute;
    top: -3px;
    width: calc(100% + 6px);
    height: 3em;
    font-size: 2em;
    background: #56b898;
    z-index: -1;
}

form[name='f-login'] input[type=submit] {
	margin: 3em 0 -3.5em;
	font-size: 1em;
}